

.point1{
    position:relative;
    Z-index : 3;

}

.point2{
    position:relative;
    Z-index : 3;

}
.point3{
    position:relative;
    Z-index : 3;

}
.point4{
    position:relative;
    Z-index : 3;

}
.point5{
    position:relative;
    Z-index : 3;

}
.point6{
    position:relative;
    Z-index : 3;

}
.point7{
    position:relative;
    Z-index : 3;

}